<div class="flex items-center justify-center min-h-screen  bg-slate-200">
  <div class="login-container bg-[#1FC2F3] rounded-lg shadow-lg p-8 w-full max-w-md">
    <div class="flex flex-col items-center  rounded-lg ">
      <!-- Logo -->
      <img src="assets/images/logo-merrymart.png" alt="Merry Mart Logo" class="w-20 h-20  rounded-full shadow-xl border-2 border-white" />

      <!-- Company Name -->
      <h1 class="text-4xl font-extrabold text-white mb-1 drop-shadow-xl">Merry Mart</h1>
      <p class="text-white text-sm mb-5">Accounting System</p>

    </div>
    <h2 class="text-2xl font-bold text-center text-white mb-3">LOGIN</h2>

    <form (ngSubmit)="login()" class="flex flex-col space-y-4">
      <input 
        type="text" 
        [(ngModel)]="userName" 
        name="userName" 
        placeholder="Username" 
        required
        class="p-3 rounded border border-white bg-white text-gray-700 focus:outline-none focus:ring-2 focus:ring-[#090071]"
      >

      <input 
        type="password" 
        [(ngModel)]="password" 
        name="password" 
        placeholder="Password" 
        required
        class="p-3 rounded border border-white bg-white text-gray-700 focus:outline-none focus:ring-2 focus:ring-[#090071]"
      >
      <div class="flex items-center space-x-2">
        <input 
          id="rememberMe"
          type="checkbox" 
          name="rememberMe" 
          required
          class="w-4 h-4 text-blue-600 bg-white border border-gray-300 rounded focus:ring-2 focus:ring-blue-500"
        />
        <label for="rememberMe" class="text-gray-700 select-none">Remember Me</label>
      </div>

      <button 
        type="submit" 
        class="bg-[#090071] hover:bg-[#06004d] text-white font-semibold py-2  w-1/2 mx-auto  rounded transition duration-300"
      >
        Login
      </button>
      <div class="text-center text-gray-600 mt-4 cursor-pointer">
        <a routerLink="/auth/forgot-password" class="hover:underline hover:text-blue-600">Forgot Password?</a>
      </div>

      <div *ngIf="errorMessage" class="text-red-700 text-center mt-2 font-medium">
        {{ errorMessage }}
      </div>
    </form>
  </div>
</div>
