@tailwind base;
@tailwind components;
@tailwind utilities;

/* customize scrollbar for main content */
main::-webkit-scrollbar {
  width: 1px;
  height: 5px;
}

main::-webkit-scrollbar-thumb {
  background-color: #0F4578;
  border-radius: 10px;
}
